{% extends 'layout.html' %}
{% block content %}


<article class="media content-section">
    <img src="{{ url_for('static', filename='profile_pics/' + builder.contributor.image_file) }}" alt="" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ builder.contributor.username }}</a>
            <small class="text-muted">{{ builder.date_added.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class="article-title">{{ builder.name }}</h2>
        <p class="article-content">{{ builder.biography }}</p>
    </div>
</article>
{% endblock content %}