{% extends 'layout.html' %}
{% block content %}
{% for builder in builders %}


<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ builder.contributor }}</a>
      <small class="text-muted">{{ builder.date_added }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ builder.name }}</a></h2>
    <p class="article-content">{{ builder.biography }}</p>
  </div>
</article>
{% endfor %}
{% endblock content %}
